@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Прибираємо внутрішні відступи */
ul[class],
ol[class] {
  padding: 0;
}

/* Прибираємо зовнішні відступи */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Виставляємо основні налаштування за замовчуванням для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Видаляємо стандартну стилізацію для всіх ul і il, у яких є атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Елементи a, у яких немає класу, скидаємо до дефолтних стилів */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Спрощуємо роботу із зображеннями */
img {
  max-width: 100%;
  display: block;
}

/* Вказуємо зрозумілу періодичність у потоці даних у article*/
article > * + * {
  margin-top: 1em;
}

/* Успадковуємо шрифти для інпутів і кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Видаляємо всі анімації та переходи для людей, які вважають за краще їх не використовувати */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header.header {
  display: flex;
  justify-content: space-between;
  padding: 37px 80px;
  position: fixed;
  width: 100vw;
  z-index: 10;
}
header.header .logo {
  width: 66px;
  height: 66px;
}
header.header .header-menu ul {
  display: flex;
  list-style: none;
  gap: 70px;
}
header.header .header-menu ul li a {
  position: relative;
  padding: 8px 3px;
  color: #f5fbf2;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  transition: color 0.3s ease-in-out;
}
header.header .header-menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}
header.header .header-menu ul li a:hover {
  color: #FFCE4E;
}
header.header .header-menu ul li a:hover::after {
  width: 100%;
}
.banner {
  display: flex;
  padding: 0 0 0 60px;
  margin-bottom: 200px;
}
.banner .left-part {
  padding: 276px 40px 0 20px;
  width: 50%;
}
.banner .left-part .heading h1 {
  font-weight: 700;
  font-size: 85px;
  color: #f5fbf2;
  margin-bottom: 77px;
}
.banner .left-part .heading h1 span {
  color: #ffce4e;
}
.banner .left-part .buttons {
  display: flex;
  gap: 48px;
  margin-bottom: 120px;
}
.banner .left-part .buttons .btn {
  font-weight: 600;
  font-size: 28px;
}
.banner .left-part .numbers {
  display: flex;
  justify-content: space-between;
}
.banner .left-part .numbers .number {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.banner .left-part .numbers .number h3 {
  font-weight: 700;
  font-size: 62px;
  color: #f5fbf2;
}
.banner .left-part .numbers .number span {
  font-weight: 400;
  font-size: 24px;
  color: #9b9e9a;
}
.banner .right-part {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(79, 70, 78, 0.4509803922);
  width: 50%;
  padding: 242px 0 103px 63px;
}
.banner .right-part .card {
  width: 558px;
  height: 718px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner .right-part .card .top-content {
  margin: 0 21px 24px 21px;
  background-image: url("../assets/images/banners/auctions-info-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  min-height: 98px;
  align-items: center;
  padding: 18px 54px;
}
.banner .right-part .card .top-content .nft-info span {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.08em;
  color: #e4dee7;
  font-family: "Work Sans", sans-serif;
}
.banner .right-part .card .top-content .nft-info h3 {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  font-family: "Oxanium", sans-serif;
}
.banner .right-part .card .bottom-content {
  min-height: 142px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 33px 60px;
}
.banner .right-part .card .bottom-content .artist {
  display: flex;
  flex-direction: column;
}
.banner .right-part .card .bottom-content .artist span:first-child {
  font-family: "Oxanium", sans-serif;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.07em;
  color: #16091b;
}
.banner .right-part .card .bottom-content .artist span:last-child {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 148%;
  color: #594d5e;
}
.banner .right-part .card .bottom-content .btn {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #000;
}

.partners {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.heading {
  font-family: "Oxanium", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #f5fbf2;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.heading::before {
  content: "";
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background-color: var(--bubbleColor);
  display: block;
  position: absolute;
  z-index: -1;
  left: -40px;
}

.App, body {
  background-color: #1C121F;
  min-height: 100vh;
}/*# sourceMappingURL=App.css.map */