header.header {
    display: flex;
    justify-content: space-between;
    padding: 37px 80px;
    position: fixed;
    width: 100vw;
    .logo {
      width: 66px;
      height: 66px;
    }
    
    .header-menu {
      ul {
        display: flex;
        list-style: none;
        gap: 70px;
  
        li {
          a {
            position: relative;
            padding: 8px 3px;
            color: #f5fbf2;
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.02em;
            transition: color 0.3s ease-in-out;
            
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              height: 2px;
              width: 0;
              background-color: currentColor; 
              transition: width 0.3s ease-in-out; 
            }
            
            &:hover {
              color: #FFCE4E;
              
              &::after {
                width: 100%;  
              }
            }
          }
        }
      }
    }
    
    .btn {
    }
  }
  